/* 首页css样式 */

/* 版心效果：居中，写一遍让所有区域居中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body{
    background-color: #f3f5f7;
}

/* 头部区域 */
.header{
    height: 100px;
    background-color: #fff;
}

.header .wrapper{
    padding-top: 29px;
    display: flex;
}

.logo a{
    display:block;
    width:195px;
    height:41px;
    background-image:url(../6-images/logo.png);
    font-size:0; /*字体大小为0：隐藏文字*/
}

/* 导航 */
.nav {
    margin-left: 102px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 24px;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-style: 19px;
}

/* active类选择器:表示默认选中的 */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex:1;
    border: 0;
    background-color: transparent;
    /* 去掉表单控件的焦点框 */
    outline: none;
}


/* ::placeholder 选中的就是placeholder属性的文字样式 */
.search input::placeholder{
    font-size: 14px;
    color:#999;
}

/* 父级是flex布局，子级变弹性盒子，加宽高会生效 */
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../6-images/search.svg);
}

.user{
    margin-left: 32px;
}

.user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 7px;
    /* vertical-align 处理行内块和 行内 垂直方向对齐方式 */
    vertical-align: middle;
}

.user span{
    font-size: 16px;
    color:#666;
}


/* banner区域 */
.banner{
    height: 420px;
    background-color: #C1EE93;
}

.banner .wrapper{
    height: 420px;
    background-image: url(../6-uploads/banner2.png);
}